<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="{{ _charset }}"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | {{ site_prefix ~ ' ' ~ site_name }}{% if site_slogan %} - {{ site_slogan }}{% endif %}</title>
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="nav-md{% if body_classes is defined %} {{ body_classes }}{% endif %}">
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
