{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('app_user_security_login') }}" method="post">
        {% if error %}
            <div class="flash-error">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="container">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

            <button type="submit">Login</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <span class="psw">Do not have register? <a href="{{ url('app_user_registration_register') }}" class="to_register">Sign up</a></span>
        </div>
    </form>
{% endblock %}